<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"
        integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"
        integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.js"
        integrity="sha512-4WpSQe8XU6Djt8IPJMGD9Xx9KuYsVCEeitZfMhPi8xdYlVA5hzRitm0Nt1g2AZFS136s29Nq4E4NVvouVAVrBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <style>
        form {
            width: 50%;
            border-collapse: collapse;
        }

        table,
        td,
        th {
            border: 1px solid #000000;
            padding: 5px;
        }

        th {
            text-align: left;
        }
    </style>

    <form>
        <select name="users" onchange="showuser(this.value)" id="lll">
            <option value="">select11111</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </form>

    <br>


    <div id="txr_hint"> </div>


    <script>



        function showuser(str) {

            console.log(str);
            console.log(document.querySelector('#lll').value);


            if (str !== '') {
                $.ajax({
                    url: '/',
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({ choice: str }),
                    success: function (result) {
                        $('#txr_hint').html(result.html)
                        console.log('success');
                    }

                })
            }
        }
    </script>
</body>

</html>
